*{
  font-family: 'Sedgwick Ave Display', cursive;
  color:black;
  font-weight: 50;
  box-sizing: border-box;
  }

/* GENERAL */
 
body{
  margin: 0%
}

main {
  display: flex;
}

button:hover, 
img:hover {
  cursor: pointer;
  transform: scale(1.1); 
}


/*HEADERS*/

.player-names, 
.game-status {
  font-size: 30px;
  margin-top: 0;
  color:black
}

.wins {
  font-size: 20px;
  margin-top:0;
  color:#AD343E;
}

.game-board-heading{
  font-size: 50px;
  color:#AD343E;
  margin-bottom: 2px;
}

/*GAME BOARD*/

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(218, 255, 255);
  height:100vh; 
  width: 60%;
}

.game-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 500px;
}

button {
  background-color:#fde7d2;
}

.classic-btn, 
.difficult-btn {
  height: 225px; 
  width: 250px;
  border: black solid .5px;
  margin-top: 5%;
  font-size:large;
  border-radius: 55%;
}

.change-game { 
  border-radius: 80%;
  width: 125px;
  height: 55px;
}

.change-game:active:enabled {
  cursor: pointer;
}

.left-player, 
.right-player {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  background-color:rgb(203, 246, 244);  
  height: 100vh;
  width: 20%;
}

/*PLAYERS */

.player-token {
  height: 50px;
  width: 50px;
  font-size: 43px;
}

/* ICONS */

.icons {
  display:flex; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  height: 400px;
  width:500px 
}

img {
  height:150px;
  width:150px;
  margin-top:0;
}

.hidden{
  display:none
}
